<main>
    <section>
        <div class="content-wrapper">
            <div class="grid-filler"></div>
            <div class="checkout-info-wrapper">
                <form id="checkoutForm" action="">
                    <span class="fade-text align-self-center">Checkout</span>
                    <div class="collapse-tab">
                        <details open>
                            <summary>
                                <div class="collapse-toggle">
                                    <span class="fade-text">Account</span>
                                    <div class="circle">
                                        <svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small reverse-icon" viewBox="0 0 8 6">
                                            <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                        </svg>
                                    </div>
                                </div>
                            </summary>
                        </details>
                        <div class="collapse-content">
                            <span>email@email.com</span>
                        </div>
                    </div>
                    <div class="collapse-tab">
                        <details open>
                            <summary>
                                <div class="collapse-toggle">
                                    <span class="fade-text">Ship to</span>
                                    <div class="circle">
                                        <svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small reverse-icon" viewBox="0 0 8 6">
                                            <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                        </svg>
                                    </div>
                                </div>
                            </summary>
                        </details>
                        <div class="collapse-content">
                            <div class="option-box">
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="shippingAddress1" name="shippingAddress" class="checkbox" value="" checked>
                                </div>
                                <label for="shippingAddress1">
                                    <p>{Name}, {Address}</p>
                                    <p class="fade-text">{City}, {Postal Code}, {Country}</p>
                                </label>
                            </div>
                            <div class="option-box">
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="shippingAddress2" name="shippingAddress" class="checkbox" value="">
                                </div>
                                <label for="shippingAddress2">
                                    <p>Meo, 123/456 ABCD</p>
                                    <p class="fade-text">Ho Chi Minh, 70000, Vietnam</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="collapse-tab">
                        <details open>
                            <summary>
                                <div class="collapse-toggle">
                                    <span class="fade-text">Shipping method</span>
                                    <div class="circle">
                                        <svg role="presentation" focusable="false" width="8" height="6" class="icon icon-chevron-bottom-small reverse-icon" viewBox="0 0 8 6">
                                            <path d="m1 1.5 3 3 3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                        </svg>
                                    </div>
                                </div>
                            </summary>
                        </details>
                        <div class="collapse-content">
                            <div class="option-box">
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="shippingMethod1" name="shippingMethod" class="checkbox" value="" checked>
                                </div>
                                <label for="shippingMethod1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>{Shipping method's name}</span>
                                        <span class="bold-text">{Price}</span>
                                    </div>
                                </label>
                            </div>
                            <div class="option-box">
                                <div class="d-flex align-items-center">
                                    <input type="radio" id="shippingMethod2" name="shippingMethod" class="checkbox" value="">
                                </div>
                                <label for="shippingMethod2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span>FedEx - Super Fast Wiwiwiiii</span>
                                        <span class="bold-text">₫69,6969</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <h2>Payment</h2>
                    <span class="fade-text">All transactions are secured and encrypted</span>
                    <div class="spacer"></div>
                    <div class="option-group">
                        <div class="option-box payment-box">
                            <input type="radio" id="paymentMethod1" name="paymentMethod" class="hidden-checkbox" value="" checked>
                            <label for="paymentMethod1">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>{Payment method's name}</span>
                                </div>
                            </label>
                        </div>
                        <div class="option-box payment-box">
                            <input type="radio" id="paymentMethod2" name="paymentMethod" class="hidden-checkbox" value="">
                            <label for="paymentMethod2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Pay upon receipt</span>
                                    <i class="fa fa-cart-flatbed"></i>
                                </div>
                            </label>
                        </div>
                        <div class="option-box payment-box">
                            <input type="radio" id="paymentMethod3" name="paymentMethod" class="hidden-checkbox" value="">
                            <label for="paymentMethod3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>VNPAY</span>
                                    <img src="/images/vnpay.svg" alt="vnpay" style="height: 0.875rem">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="spacer-lg"></div>
                    <button type="submit" class="black-btn">Pay now</button>
                </form>
            </div>

            <div>
                <div class="checkout-bill-wrapper">
                    <span class="fade-text align-self-center">Your bill</span>
                    <div class="spacer"></div>
                    <div class="checkout-bill-items">
                        <div class="bill-item">
                            <div class="bill-item-img">
                                <img src="/images/cart1.webp" alt="">
                                <div class="item-count">{quantity}</div>
                            </div>
                            <div class="bill-item-info">
                                <p>{Item's name}</p>
                                <span>{Price}</span>
                            </div>
                        </div>
                        <div class="bill-item">
                            <div class="bill-item-img">
                                <img src="/images/cart2.avif" alt="">
                                <div class="item-count">1</div>
                            </div>
                            <div class="bill-item-info">
                                <p>[PC11] BATTLE SPIRITS PREMIUM CARD SET</p>
                                <span>₫448,077</span>
                            </div>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="checkout-price">
                        <span>Subtotal</span>
                        <span class="bold-text">₫448,077</span>
                    </div>
                    <div class="checkout-price">
                        <span>Shipping</span>
                        <span>₫100,001</span>
                    </div>
                    <div class="checkout-price">
                        <span class="bold-text lg-text">Total</span>
                        <span class="bold-text lg-text">₫548,078</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>