<main>
    <section>
        <div class="section-wrapper" id="forgetPasswordSection">
            <form class="vstack gap-4 align-items-center justify-content-center" id="forgetPasswordForm">
                <h1>Forget your password?</h1>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Input your email" required>
                    <label for="email">Input your email</label>
                </div>
                <p>We will send a link to reset your password via this email</p>
                <button class="black-btn" type="submit">Send the link</button>
            </form>
        </div>
    </section>
</main>